/*common css code*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

// @import '~ngx-toastr/toastr';
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

html {
    font-size: 16px;
}

.coreComponent {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    padding: 1.3rem 0.5rem;
}

.core {
    background-color: #485460;
}

.footer{
    text-align: center;
    padding: 1rem;
    background-color: #485460;
    color: #fff;
}

.sidenav {
    position: relative;

    ul {
        display: flex;

        li {
            list-style: none;
            padding: 0 1rem;

            a {
                text-decoration: none;
            }
        }
    }

    .nav {
        display: none;
    }
}

.dashboard {
    .banner {
        position: relative;
        height: 600px;
        background-image: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(34, 2, 120, 0.38707983193277307) 0%, rgba(0, 147, 255, 0.8604691876750701) 100%), url("../src/assets/images/banner-1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 90%;

        .row {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .image {
                background-image: url('./assets/images/image.jpeg');
                background-repeat: no-repeat;
                background-size: cover;
                height: 305px;
                width: 305px;
                border-radius: 50%;
            }

            .text {
                color: #fff;
                margin: 15px 0;
                text-align: center;

                p {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .btn {
                button {
                    background: #15465F;
                    color: #fff;
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    }

    .about {
        display: flex;
        justify-content: space-evenly;
        // border: 1px solid black;
        padding: 15px 0;
        width: 88%;
        margin: auto;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);

        .left,
        .right {
            width: 45%;

            .info {
                ul {
                    li {
                        padding: 10px 0;
                        font-size: 16px;
                        color: #000;

                        label {
                            font-size: 18px;
                            font-weight: 500;
                            display: inline-block;
                            width: 29%;
                        }
                    }
                }
            }
        }

    }

    .experiance {
        margin: 40px 0;
        .heading {
            h2 {
                text-align: center;
                margin: 4rem 0 2rem 0;
            }
        }

        .grids {
            width: 88%;
            margin: auto;
            
            .right {
                display: flex;
                .arrow-left {
                    position: relative;
                    top: 15px;                
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid #F2F3F7;
                }
                .box{
                    background-color: #F2F3F7;
                    width: 100%;
                    padding: 30px 40px;
                    margin-bottom: 4rem;
                    p{
                        margin: 20px 0;
                    }
                }
            }
        }
    }

    .skills{
        margin: 40px 0;
        
        .heading {
            h2 {
                text-align: center;
                margin: 4rem 0 2rem 0;
            }
        }

        .grids {
            width: 88%;
            margin: auto;
            
            
            .right {
                display: flex;
                .box{
                    // background-color: #F2F3F7;
                    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
                    width: 100%;
                    padding: 30px 40px;
                    margin-bottom: 4rem;
                    p{
                        margin: 20px 0;
                    }

                    .sub{
                        .text-box{
                            display: flex;
                            justify-content: space-between;  
                            padding: 10px 0;                      
                        }
                    }
                }
            }
        }
    }
}
.p-progressbar {
    border: 0 none;
    height: 1rem !important;
    background: #dee2e6;
    border-radius: 6px;
}
.p-progressbar-label{
    display: none !important;
}

// media Query

@media only screen  and (min-width: 200px) and (max-width: 770px) {

    .sidenav {
        .sidebar {
            display: none;
        }

        .nav {
            display: block;

            .pi {
                font-size: 2rem;
            }
        }

        .side2 {
            position: absolute;
            top: 3.2rem;
            background: #485460;
            right: -26%;
        }

        ul {
            flex-direction: column;
            width: 100vw;
            text-align: center;
            height: 100vh;

            li {
                margin: 10px;
            }
        }
    }

    .about {
        .left,
        .right {
            .info {
                ul {
                    li {
                        font-size: 12px !important;
                        label {
                            font-size: 12px !important;
                            width: 40% !important;
                        }
                    }
                }
                p{
                    font-size: 12px;
                }
            }
        }

    }

    


}